@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Shadows+Into+Light&display=swap");
body {
  header {
    width: 100%;
    .container {
      max-width: 1440px;
      margin: 0 auto;
      .container-winner {
        height: 40px;
        width: 100%;
        // height: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 20px;
        h2 {
          width: 280px;
          display: block;
          font-size: 30px;
          text-align: center;
          margin-bottom: 0;
          font-family: Akaya Telivigala;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }

      .start {
        display: block;
        margin: 0 auto;
        width: 220px;
      }
    }
  }
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(0, 0, 0, 0.4), transparent 1px),
    linear-gradient(90deg, rgb(0, 0, 0, 0.4), transparent 1px);
  background-size: 30px 30px;
  background-repeat: repeat;
  box-sizing: border-box;
  .btn {
    font-family: Shadows Into Light;
    background-color: #827e7e;
    border-color: #827e7e;
    &:hover {
      background-color: #000;
      border-color: #d1cccc;
      color: #d1cccc;
      -webkit-box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
      -moz-box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
      box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
    }
    &:focus {
      background-color: #000;
      border-color: #d1cccc;
      color: #d1cccc;
      -webkit-box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
      -moz-box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
      box-shadow: 4px 4px 22px 4px rgba(12, 13, 13, 1);
    }
    @media screen and(max-width: 768px) {
      width: 60%;
    }
    @media screen and(max-width: 480px) {
      width: 80%;
    }
  }
}

.game {
  width: 360px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
  //   outline: 1px solid #000;
  -webkit-box-shadow: -3px 10px 54px 7px rgba(0, 3, 6, 1);
  -moz-box-shadow: -3px 10px 54px 7px rgba(0, 3, 6, 1);
  box-shadow: -3px 10px 54px 7px rgba(0, 3, 6, 1);
  .field {
    width: 120px;
    height: 120px;
    border: 2px solid #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .circle {
      width: 100%;
      height: 100%;
      stroke-dasharray: 283;
      stroke-dashoffset: 283;
      animation: draw 1s forwards;
    }
    .cross {
      width: 100%;
      height: 100%;
      .first {
        stroke-dasharray: 125;
        stroke-dashoffset: 125;
        animation: draw 0.5s forwards;
      }
      .second {
        stroke-dasharray: 125;
        stroke-dashoffset: 125;
        animation: draw 0.5s 0.5s forwards;
      }
    }
  }
  .active {
    background-color: #827e7e;
  }
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  .btn {
    width: 150px;
  }
}

.container-input {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}

footer {
  width: 100%;
}
.container-footer {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  .logo {
    width: 100px;
  }
}
@media screen and(max-width: 1000px) {
  .container-header {
    .btn {
      width: 30%;
    }
    .input-group {
      width: 40%;
    }
  }
}

@media screen and(max-width: 540px) {
  .container-header {
    .btn {
      width: 30%;
    }
    .input-group {
      width: 45%;
    }
  }
}

@media screen and(max-width: 480px) {
  .container-header {
    flex-direction: column;
    align-items: center;
    .btn {
      width: 40%;
    }
    .input-group {
      width: 50%;
    }
  }
  .game {
    width: 300px;
    height: 300px;
    .field {
      width: 100px;
      height: 100px;
    }
  }
  .new-game {
    width: 40%;
    font-size: 16px;
  }
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
